@font-face {
    font-family: 'RPMEntypo';
    src: url('rpm/RPMEntypo/rpmentypo-regular.eot?');
    src: url('rpm/RPMEntypo/rpmentypo-regular.eot?#iefix') format('embedded-opentype'),
       url('rpm/RPMEntypo/rpmentypo-regular.svg?') format('svg'),
       url('rpm/RPMEntypo/rpmentypo-regular.woff?') format('woff'),
       url('rpm/RPMEntypo/rpmentypo-regular.ttf?') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


body {
  font-family: Montserrat,sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1, h3 {
  font-size:200%;
  font-weight: bold;
  padding-bottom:0;
}
h4 {
  margin-top:0;
  margin-bottom:0.5em;
  font-weight:normal;
  text-indent:0.3em;
}
ol, ul {
  margin-top:0.3em;
}
pre code {
  color: #333;
  font-size: 140%;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: inherit;
}

em {
  border-bottom: 1px solid #666;
}

pre {
  border-color:#ccc;
}


/* Presentation */
section {
  overflow: visible!important;
}
.icon {
    font-family:"RPMEntypo";
    font-size:200%;
    line-height: 0.6em;
}
.icon-before:before {
    font-family:"RPMEntypo";
    font-size:200%;
    margin-right:0.2em;
    position: relative;
    line-height: 0.6em;
    top:0.05em;
}
.cube:before {
    content:"\23F8";
}
.arrows {
  margin-top: 80px;
  text-align:center;
}
.arrows img {
  vertical-align:top;
  width: 100px;
}
.arrows .icon {
  font-size:400%;
  position: relative;
  top:50px;
  line-height:1px;
  width:40px;
  text-align:center;
}
.arrows .icon.css3 {
  margin-right:-11px
}
.arrows .arrow-icon:before {
    content:"\E000";
}
h4 img,
h3 img {
  height:30px;
  vertical-align: bottom;
  vertical-align: middle;
  margin-top: -0.2em;
}
h3 img {
  height:50px
}
h3 .icon {
  font-size: 120%;
  margin: 0 -0.2em;
}

h3 .note {
  font-size:80%;
}
.screenshot {
  margin-top: 1em;
}
.screenshot img {
  margin: auto;
}

aside {
  float:right;
  margin: 0 0 1.5em 1.5em;
}

.example {
  text-align:center;
  font-size:200%;
}
h1 .amp  {
  font-size:200%;
  display: inline-block;
  margin-left: -30px;
  margin-right: -20px;
}
h3 .amp {
  font-size: 100%;
}
.amp {
  font-family:Cambo;
  color: #66B5FF;
  font-size:300%;
  position: relative;
  top: 0.2em;
  margin:-0.5em -0.1em;
  -webkit-text-stroke: 1px #666;
  display: inline-block;
}
strong {
  font-weight: bold;
}
@media (max-width: 850px) {
  h3 img,
  h4 img {
    height:35px;
    width: auto;
  }
  h4 img {
    height:25px;
    margin-top:0;
  }

  .arrows .icon {
    line-height: 1em;
    position: static;
  }
  .arrows img {
    width:60px
  }
  .arrows .arrow-icon:before {
    content:"\E4B0";
    display: block;
    position: static;
    line-height: 1em;
  }
  .example.mini img {
    width: auto;
  }
}
@media (max-width: 600px) {
  body {
    padding-top: 40px;
  }
  aside {
    float: none;
  }
  aside img {
    width:auto;
  }
  .slide {
    position:static;
  }
  .controls {
    position: absolute;
    top:0;
    right:0;
    text-align: right;
    padding:10px 0 30px 0;
    border-bottom: #ccc 1px solid;
    height: 20px;
  }
  .controls .arrow {
    float: none;
    display: inline-block;
    border-width:20px;
    margin-right:20px;
  }
  .prev {
    border-right-width:20px;
  }
  .controls .next {
    margin-right: 0
  }
  .slide-content {
    height:auto;
  }
}